Repository pascaliske/pascaliske.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, prettier --write, task tf:format --

feat: upgrade eslint stack
  package.json
  yarn.lock
Due: prettier --write

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.9.7
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: migrate to non-constructor based dependency injection
  src/app/app.component.ts
  src/app/components/navigation/navigation.component.ts
  src/app/pages/contact/contact.component.ts
  src/app/pages/home/home.component.ts
  src/app/pages/legal-notice/legal-notice.component.ts
  src/app/pages/skills/skills.component.ts
  src/app/pages/work/work.component.ts
  src/app/shared/breakpoint/breakpoint.service.ts
  src/app/shared/browser-api/browser-api.service.ts
  src/app/shared/metadata/metadata.service.ts
  src/app/shared/scroll/scroll.service.ts
  src/app/shared/storage/storage.service.ts
  src/app/shared/theme/theme.service.ts
Due: prettier --config .prettierrc --write, prettier --write

feat: upgrade angular to v20.3
  package.json
  src/main.server.ts
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore(package): upgrade dependencies
  package.json
  src/app/app.config.ts
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.9.8
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade angular to v21
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: release v3.9.9
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade angular to v21.0.3
  package.json
  yarn.lock
Due: prettier --write

fix: remove delayed initial navigation which prevented prerendering
  src/app/app.component.ts
  src/app/app.routing.ts
Due: prettier --config .prettierrc --write, prettier --write

fix: remove delayed application bootstrap
  src/main.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.9.10
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(socials): re-order social icons, remove twitter
  src/app/components/socials/socials.component.ts
Due: prettier --config .prettierrc --write, prettier --write

refactor(work): improve description of website card
  src/app/pages/work/work.component.ts
Due: prettier --config .prettierrc --write, prettier --write

feat(skills): update skills with serverless and auth cards
  src/app/pages/skills/skills.component.ts
  src/app/shared/tags/tags.ts
Due: prettier --config .prettierrc --write, prettier --write

refactor: switch to new template syntax
  src/app/components/headline/headline.component.html
  src/app/components/headline/headline.component.ts
  src/app/components/input/input.component.html
Due: prettier --config .prettierrc --write, prettier --write

refactor: use new tailwind shortcut
  src/app/app.component.html
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: setup dns records for nabu casa verification
  .github/workflows/terraform.yml
  terraform/dns.tf
  terraform/variables.tf
Due: task tf:format --

feat: upgrade angular to v21.0.6
  package.json
  yarn.lock
Due: prettier --write

feat(footer): display link to public analytics dashboard of this website
  src/app/components/footer/footer.component.html
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.11.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade angular to v21.0.8
  package.json
  yarn.lock
Due: prettier --write

feat: upgrade angular to v21.1.1
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.11.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): update badges
  README.md
Due: prettier --write

feat: upgrade angular to v21.2.0
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --config .prettierrc --write: any of: src/**/*.{ts,scss,html,md}
  prettier --write: any of: **/*.{ts,scss,html,md,json}
  task tf:format --: any of: terraform/**/*.{tf,tfvars}
