Repository pascaliske/pascaliske.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, prettier --write, task tf:format --

.lintstagedrc:

{
  "src/**/*.{ts,scss,html,md}": [
    "prettier --config .prettierrc --write ",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "**/*.{ts,scss,html,md,json}": ["prettier --write"],
  "terraform/**/*.{tf,tfvars}": ["task tf:format --"]
}

feat: switch to new application builder
  .github/workflows/build.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .prettierignore
  angular.json
  package.json
  server.ts
  src/polyfills.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.server.json
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore(package): upgrade dependencies
  package.json
  workers/middlewares/auth.ts
  workers/middlewares/cache.ts
  workers/routes/site.ts
  yarn.lock
Due: prettier --write

feat: upgrade to hono v4
  package.json
  tsconfig.json
  workers/routes/site.ts
  workers/typings.d.ts
  yarn.lock
Due: prettier --write

chore: release v3.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(terraform): use regular variable for the domain
  .github/workflows/terraform.yml
  terraform/dns.tf
  terraform/main.tf
  terraform/rules.tf
  terraform/variables.tf
  terraform/zones.tf
Due: task tf:format --

fix(workers): ensure to always safely access contact form request data
  workers/routes/contact.ts
Due: prettier --write

feat: upgrade to angular v17.3
  package.json
  yarn.lock
Due: prettier --write

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.5.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: switch to main branch
  .github/workflows/build.yml
  .github/workflows/staging.yml
  .github/workflows/terraform.yml
  README.md
Due: prettier --write

feat(greeting): update subtitle text contents and size
  src/app/components/greeting/greeting.component.html
Due: prettier --config .prettierrc --write, prettier --write

feat(routing): switch to shorter default imports for pages
  src/app/app.routing.ts
  src/app/pages/contact/contact.component.ts
  src/app/pages/home/home.component.ts
  src/app/pages/legal-notice/legal-notice.component.ts
  src/app/pages/skills/skills.component.ts
  src/app/pages/work/work.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.5.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: update angular to v18
  angular.json
  package.json
  src/app/app.config.ts
  src/app/pages/contact/contact.component.ts
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

fix(worker): remove unnecessary csp values for tracking
  workers/middlewares/headers.ts
Due: prettier --write

refactor: import standalone icon component and remove font awesome module
  src/app/components/footer/footer.component.ts
  src/app/components/socials/socials.component.ts
  src/app/pages/contact/contact.component.ts
  src/app/pages/work/work.component.ts
Due: prettier --config .prettierrc --write, prettier --write

fix(socials): update twitter url to x
  src/app/components/socials/socials.component.ts
Due: prettier --config .prettierrc --write, prettier --write

fix: explicitly define prerender routes for angular builder
  angular.json
  routes.txt
Due: prettier --write

chore(package): set package manager
  package.json
Due: prettier --write

feat: update angular to v18.1.x
  package.json
  yarn.lock
Due: prettier --write

fix: update robots.txt
  src/robots.txt
Due: none

chore: release v3.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(github): remove license file from release action
  .github/workflows/production.yml
Due: none

refactor(terraform): use new content argument for cloudflare record resources
  terraform/dns.tf
Due: task tf:format --

feat: update angular to v18.2.x
  package.json
  yarn.lock
Due: prettier --write

feat: update angular-eslint stack to latest versions
  package.json
  yarn.lock
Due: prettier --write

refactor: upgrade to latest ngx-progressbar version
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/styles/common.css
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

feat: update angular to v18.2.1
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: decrease progressbar minimum duration
  src/app/app.config.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.7.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove status bar background on iphones
  src/index.html
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.7.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat: configure bluesky domain verification
  .github/workflows/terraform.yml
  terraform/dns.tf
  terraform/variables.tf
Due: task tf:format --

chore: release v3.7.3
  CHANGELOG.md
  package.json
Due: prettier --write
