Repository pascaliske/pascaliske.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, prettier --write, task tf:format --

feat(terraform): implement cloudflare zone settings
  terraform/dns.tf
Due: task tf:format --

chore(github): clean-up workflows
  .github/dependabot.yml.disabled
  .github/labels.yml
  .github/workflows/auto-merge.yml.disabled
  .github/workflows/labels.yml
Due: none

chore(github): update to new node lts version
  .github/workflows/linting.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/test.yml
Due: none

chore(github): implement workflow for terraform
  .editorconfig
  .github/workflows/terraform.yml
  terraform/dns.tf
  terraform/variables.tf
Due: task tf:format --

chore(github): only run terraform when its code changed
  .github/workflows/terraform.yml
Due: none

feat(terraform): enable hsts security header
  terraform/dns.tf
Due: task tf:format --

docs: fix badge urls
  README.md
Due: prettier --write

chore(github): use repo token for task setup action
  .github/workflows/linting.yml
  .github/workflows/terraform.yml
Due: none

refactor: switch to privacy-focused analytics script using plausible
  README.md
  src/app/app.component.ts
  src/app/components/cookie-banner/cookie-banner.component.ts
  src/app/pages/contact/contact.component.html
  src/app/pages/contact/contact.component.ts
  src/app/shared/tracking/tracking.service.ts
  src/index.html
  src/typings.d.ts
  workers/index.js
Due: prettier --config .prettierrc --write, prettier --write

fix: remove navigation link to legacy blog
  src/app/app.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v2.3.5
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade angular to v15
  angular.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: release v2.3.6
  CHANGELOG.md
  package.json
Due: prettier --write

chore(eslint): remove legacy google analytics exceptions
  .eslintrc.js
Due: none

fix(app): split line to fix linting issue
  src/app/app.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: optimize taskfiles
  .github/taskfiles/terraform.yml
  Taskfile.yml
Due: none

refactor(terraform): move zone and zone settings into separate file
  terraform/dns.tf
  terraform/main.tf
  terraform/zones.tf
Due: task tf:format --

docs(readme): update the readme
  README.md
Due: prettier --write

chore(github): add build workflow for all branch pushes except master branch
  .github/workflows/build.yml
Due: none

refactor: remove ngx-store for custom storage service to reduce bundle size
  package.json
  src/app/app.module.ts
  src/app/shared/storage/storage.service.ts
  src/app/shared/theme/theme.service.ts
  src/index.html
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

fix: improve accessibility using aria-labels
  src/app/app.component.html
  src/app/components/navigation/navigation.component.html
Due: prettier --config .prettierrc --write, prettier --write

fix: remove unused app version constant
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/main.ts
Due: prettier --config .prettierrc --write, prettier --write

feat(workers): implement workers cache
  workers/index.ts
Due: prettier --write

fix(contact): use correct form value, fix error state, make name optional
  src/app/pages/contact/contact.component.html
  src/app/pages/contact/contact.component.ts
Due: prettier --config .prettierrc --write, prettier --write

fix(workers): correctly apply headers to site responses
  workers/index.ts
  workers/middlewares/headers.ts
Due: prettier --write

refactor(workers): optimize worker responses
  .gitignore
  workers/responses.ts
  workers/routes/contact.ts
Due: prettier --write

fix(skills): reduce columns on mobile viewports
  src/app/pages/skills/skills.component.html
Due: prettier --config .prettierrc --write, prettier --write

fix(skills): optimize card views on mobile viewports
  src/app/components/card/card.component.html
  src/app/components/card/card.component.ts
  src/app/pages/skills/skills.component.html
Due: prettier --config .prettierrc --write, prettier --write

feat: implement angular universal prerendering
  .github/workflows/build.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  angular.json
  package.json
  server.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/app.server.module.ts
  src/app/components/navigation/navigation.component.ts
  src/app/shared/breakpoint/breakpoint.service.ts
  src/app/shared/browser-api/browser-api.service.ts
  src/app/shared/scroll/scroll.service.ts
  src/app/shared/storage/storage.service.ts
  src/app/shared/theme/theme.service.ts
  src/main.server.ts
  tsconfig.server.json
  workers/routes/site.ts
  wrangler.toml
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

fix(storage): allow generic return types
  src/app/shared/storage/storage.service.ts
Due: prettier --config .prettierrc --write, prettier --write

fix(theme): ensure initial state is taken from local storage
  src/app/shared/theme/theme.service.ts
Due: prettier --config .prettierrc --write, prettier --write

refactor(terraform): correctly configure dkim record for mail traffic
  .github/workflows/terraform.yml
  terraform/dns.tf
  terraform/variables.tf
Due: task tf:format --

feat: upgrade to angular v16
  angular.json
  package.json
  yarn.lock
Due: prettier --write

refactor: migrate from 3rd party library to new internal operator for until destroyed functionality
  package.json
  src/app/app.component.ts
  src/app/components/navigation/navigation.component.ts
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore(terraform): remove deprecated positional argument for tflint
  .github/taskfiles/terraform.yml
Due: none

feat: hide about page for now using redirect guard
  src/app/app-routing.module.ts
  src/app/components/navigation/navigation.component.ts
  src/app/shared/redirect/redirect.guard.ts
Due: prettier --config .prettierrc --write, prettier --write

fix(skills): remove some space between skill card elements
  src/app/pages/skills/skills.component.html
Due: prettier --config .prettierrc --write, prettier --write

Path conditions:
  prettier --config .prettierrc --write: any of: src/**/*.{ts,scss,html,md}
  prettier --write: any of: **/*.{ts,scss,html,md,json}
  task tf:format --: any of: terraform/**/*.{tf,tfvars}
