Repository pascaliske/pascaliske.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, prettier --write, task tf:format --

feat(terraform): implement http redirect rules for legacy content pages
  terraform/rules.tf
Due: task tf:format --

chore: release v3.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(worker): clone proxy responses to allow modifying them
  workers/index.ts
  workers/routes/analytics.ts
Due: prettier --write

chore: release v3.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: remove browser module from app providers
  src/app/app.config.ts
Due: prettier --config .prettierrc --write, prettier --write

fix(terraform): use bulk list and ruleset for page redirects
  terraform/main.tf
  terraform/rules.tf
Due: task tf:format --

perf(navigation): replace angular animation with css only animation
  src/app/app.config.ts
  src/app/components/navigation/navigation.animation.ts
  src/app/components/navigation/navigation.component.html
  src/app/components/navigation/navigation.component.ts
  tailwind.config.js
Due: prettier --config .prettierrc --write, prettier --write

fix(worker): remove about page from available pages
  workers/routes/site.ts
Due: prettier --write

feat: implement social card meta tags
  src/app/app.routing.ts
  src/app/pages/contact/contact.component.ts
  src/app/pages/home/home.component.ts
  src/app/pages/legal-notice/legal-notice.component.ts
  src/app/pages/skills/skills.component.ts
  src/app/pages/work/work.component.ts
  src/app/shared/metadata/metadata.service.ts
  src/index.html
Due: prettier --config .prettierrc --write, prettier --write

refactor(navigation): extract navigation end watcher into separate function
  src/app/components/navigation/navigation.component.ts
Due: prettier --config .prettierrc --write, prettier --write

feat(navigation): implement keyboard shortcuts for navigation
  src/app/components/navigation/navigation.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(package): upgrade prettier-plugin-tailwindcss to v0.4.1
  package.json
  yarn.lock
Due: prettier --write

fix(navigation): optimize navigation styles for all viewports
  src/app/components/navigation/navigation.component.html
  src/styles/common.css
Due: prettier --config .prettierrc --write, prettier --write

fix(navigation): only perform toggle if it would actually change the state
  src/app/components/navigation/navigation.component.ts
Due: prettier --config .prettierrc --write, prettier --write

perf: schedule bootstrap and initial navigation on separate tasks
  src/app/app.component.ts
  src/app/app.routing.ts
  src/main.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: enable tailwind support in shared prettier config
  package.json
  yarn.lock
Due: prettier --write

fix: use manual initial navigation function to allow deep linking to all pages
  src/app/app.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix(polyfills): remove deprecated zone import
  src/polyfills.ts
Due: prettier --config .prettierrc --write, prettier --write

fix(navigation): ignore keyboard events if focus is inside form fields
  src/app/components/navigation/navigation.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore(github): switch to latest node lts version
  .github/workflows/build.yml
  .github/workflows/linting.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

chore: release v3.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(theme): explicitly define system theme as enum member
  src/app/shared/theme/theme.service.ts
Due: prettier --config .prettierrc --write, prettier --write

feat: allow manual tracking of custom events using plausible
  src/index.html
  src/typings.d.ts
Due: prettier --config .prettierrc --write, prettier --write

feat: use manual tracking for contact form submits
  src/app/pages/contact/contact.component.html
  src/app/pages/contact/contact.component.ts
Due: prettier --config .prettierrc --write, prettier --write

feat: use manual tracking for theme changes
  src/app/components/navigation/navigation.component.html
  src/app/shared/theme/theme.service.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.3.4
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: move tags enum to shared section
  src/app/pages/skills/skills.component.ts
  src/app/pages/work/work.component.ts
  src/app/shared/tags/tags.ts
  src/typings.d.ts
Due: prettier --config .prettierrc --write, prettier --write

fix: add typings file as type root to fix build
  .eslintrc.js
  src/app/pages/contact/contact.component.ts
  src/app/shared/theme/theme.service.ts
  tsconfig.json
Due: prettier --config .prettierrc --write, prettier --write

fix(socials): switch to twitter/x icon, re-order socials
  src/app/components/socials/socials.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.3.5
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade to angular v17
  angular.json
  package.json
  server.ts
  src/app/pages/legal-notice/legal-notice.component.html
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: migrate to husky v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: prettier --write

feat: upgrade to angular v17.2
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --config .prettierrc --write: any of: src/**/*.{ts,scss,html,md}
  prettier --write: any of: **/*.{ts,scss,html,md,json}
  task tf:format --: any of: terraform/**/*.{tf,tfvars}
