Repository pascaliske/pascaliske.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, prettier --write, task tf:format --

chore: release v3.0.0
  CHANGELOG.md
Due: prettier --write

feat(workers): implement logging to debug worker issues
  workers/routes/contact.ts
  workers/routes/site.ts
  workers/utils/log.ts
Due: prettier --write

chore: release v3.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: only generate one changelog entry
  package.json
Due: prettier --write

fix(worker): correctly parse response body and add debug logs
  .gitignore
  workers/routes/contact.ts
Due: prettier --write

chore: release v3.0.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(terraform): implement mail lockdown dns record for contact form
  terraform/dns.tf
Due: task tf:format --

fix(worker): use name in contact request subject line
  workers/routes/contact.ts
Due: prettier --write

chore: release v3.0.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat(worker): optimize contact request notification message
  workers/routes/contact.ts
Due: prettier --write

chore: release v3.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(contact): only force state related background colors for submit button
  src/app/pages/contact/contact.component.html
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.0.5
  CHANGELOG.md
  package.json
Due: prettier --write

fix(worker): use different separator symbol to prevent invalid from address
  workers/routes/contact.ts
Due: prettier --write

chore: release v3.0.6
  CHANGELOG.md
  package.json
Due: prettier --write

fix(worker): allow sending empty name field for contact request
  workers/routes/contact.ts
Due: prettier --write

fix(contact): use empty string as default value for name field
  src/app/pages/contact/contact.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.0.7
  CHANGELOG.md
  package.json
Due: prettier --write

fix(terraform): use domain variable for mail lockdown record
  terraform/dns.tf
Due: task tf:format --

fix: provide meaningful page description for social previews
  src/index.html
Due: prettier --config .prettierrc --write, prettier --write

feat: enable client hydration for server side rendering
  src/app/app.module.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.0.8
  CHANGELOG.md
  package.json
Due: prettier --write

feat: switch to full standalone mode
  angular.json
  package.json
  server.ts
  src/app/app.component.ts
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/app.module.ts
  src/app/app.routing.ts
  src/app/app.server.module.ts
  src/main.server.ts
  src/main.ts
Due: prettier --config .prettierrc --write, prettier --write

chore(github): remove unnecessary build commands
  .github/workflows/build.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

chore: exclude webpack stats in worker uploads
  wrangler.toml
Due: none

fix(navigation): ensure navigation is rendered independent of js execution
  src/app/components/navigation/navigation.component.html
Due: prettier --config .prettierrc --write, prettier --write

chore(git): ignore infracost cache
  .gitignore
Due: none

style: format codebase
  src/app/components/navigation/navigation.component.html
  workers/responses.ts
Due: prettier --config .prettierrc --write, prettier --write

fix(triangle): improve position of triangle for large screens
  src/app/components/triangle/triangle.component.html
Due: prettier --config .prettierrc --write, prettier --write

fix: remove page fade in to prevent flickering of pre-rendered pages
  src/app/app.animations.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/styles/common.css
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(worker): setup logger for all middlewares
  workers/middlewares/auth.ts
  workers/middlewares/headers.ts
  workers/routes/site.ts
Due: prettier --write

fix(worker): only skip auth middleware on production
  workers/middlewares/auth.ts
Due: prettier --write

feat(worker): configure http cache differently for static files
  workers/index.ts
  workers/middlewares/cache.ts
  wrangler.toml
Due: prettier --write

chore: release v3.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(greeting): use regular divs to pass a11y headline order check
  src/app/components/greeting/greeting.component.html
Due: prettier --config .prettierrc --write, prettier --write

fix: darken the accent color a little bit to pass a11y color contrast check
  tailwind.config.js
Due: none

perf: use standalone components instead of common module, remove empty style urls
  src/app/app.component.ts
  src/app/components/card/card.component.ts
  src/app/components/copy/copy.component.ts
  src/app/components/footer/footer.component.ts
  src/app/components/greeting/greeting.component.ts
  src/app/components/headline/headline.component.ts
  src/app/components/input/input.component.ts
  src/app/components/navigation-button/navigation-button.component.ts
  src/app/components/navigation/navigation.component.ts
  src/app/components/section/section.component.ts
  src/app/components/socials/socials.component.ts
  src/app/components/theme-button/theme-button.component.ts
  src/app/components/timeline/timeline.component.ts
  src/app/components/triangle/triangle.component.ts
  src/app/pages/about/about.component.ts
  src/app/pages/contact/contact.component.ts
  src/app/pages/home/home.component.ts
  src/app/pages/legal-notice/legal-notice.component.ts
  src/app/pages/skills/skills.component.ts
  src/app/pages/work/work.component.ts
Due: prettier --config .prettierrc --write, prettier --write

refactor: delete unused about page and its components
  src/app/app.routing.ts
  src/app/components/timeline/timeline.component.html
  src/app/components/timeline/timeline.component.ts
  src/app/pages/about/about.component.html
  src/app/pages/about/about.component.ts
  src/app/shared/redirect/redirect.guard.ts
Due: prettier --config .prettierrc --write, prettier --write

feat(worker): proxy plausible requests through worker
  src/index.html
  workers/index.ts
  workers/routes/analytics.ts
Due: prettier --config .prettierrc --write, prettier --write

Path conditions:
  prettier --config .prettierrc --write: any of: src/**/*.{ts,scss,html,md}
  prettier --write: any of: **/*.{ts,scss,html,md,json}
  task tf:format --: any of: terraform/**/*.{tf,tfvars}
