Repository pascaliske/pascaliske.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, prettier --write

.lintstagedrc:

{
  "src/**/*.{ts,scss,html,md}": [
    "prettier --config .prettierrc --write ",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "**/*.{ts,scss,html,md,json}": ["prettier --write"]
}

chore(github): upgrade node version to v16
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/test.yml
Due: none

chore(github): re-order build scripts in pipeline
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: none

chore(package): upgrade to angular v13
  .gitignore
  package.json
  yarn.lock
Due: prettier --write

refactor: switch to modern-normalize
  package.json
  src/scss/base/_base.scss
  src/scss/common.scss
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore(package): upgrade dependencies
  package.json
  tsconfig.app.json
  tsconfig.json
  webpack.config.ts
  yarn.lock
Due: prettier --write

refactor: remove server-side prerendering
  .bundlewatchrc.json
  .github/workflows/preview.yml
  .github/workflows/production.yml
  angular.json
  package.json
  src/app/app.server.module.ts
  src/main.server.ts
  src/prerender.ts
  tsconfig.server.json
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

refactor: clean-up styles and dist folder
  .bundlewatchrc.json
  angular.json
  firebase.json
  src/scss/common.scss
Due: prettier --config .prettierrc --write, prettier --write

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(github): setup deployment to cloudflare workers
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: none

chore: release v2.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix: fix eslint issues with typescript typings
  src/app/components/navigation/navigation.component.ts
  src/app/components/section/section.component.ts
  src/app/pages/contact/contact.component.ts
  src/app/shared/breakpoint/breakpoint.service.ts
  src/app/shared/network/network.service.ts
  src/app/shared/scroll/scroll.service.ts
  src/app/shared/viewport/viewport.service.ts
  src/cfn/index.ts
  src/typings.d.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v2.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: switch to official cypress schematic
  angular.json
  package.json
  yarn.lock
Due: prettier --write

chore: release v2.3.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(github): setup deployment to cloudflare workers
  .github/workflows/preview.yml
  .github/workflows/production.yml
  src/cfn/index.ts
  src/cfn/package.json
  src/typings.d.ts
  tsconfig.cfn.json
  workers/index.js
  workers/package-lock.json
  workers/package.json
  workers/worker/script.js
  wrangler.toml
Due: prettier --config .prettierrc --write, prettier --write

chore: release v2.3.3
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: use any typing for gtag options
  src/typings.d.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v2.3.4
  CHANGELOG.md
  package.json
Due: prettier --write

chore(workers): clean-up cloudflare worker script
  .gitignore
  workers/index.js
  workers/package-lock.json
  workers/worker/script.js
Due: prettier --write

chore(github): update checkout action to latest version
  .github/workflows/preview.yml
  .github/workflows/production.yml
  .github/workflows/test.yml
Due: none

chore(ci): use action input for cloudflare account id
  .github/workflows/preview.yml
  .github/workflows/production.yml
Due: none

chore(github): automate github labels
  .github/labels.yml
  .github/workflows/labels.yml
Due: none

chore: switch to cloudflare only deployment
  .firebaserc
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/test.yml
  README.md
  firebase.json
  package.json
  src/app/pages/contact/contact.service.ts
  src/index.html
  src/manifest.json
  workers/package-lock.json
  workers/package.json
  wrangler.toml
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore: remove unused extra lint tsconfig
  .eslintrc.js
  tsconfig.lint.json
Due: prettier --write

chore(github): enable dependabot auto merge
  .github/workflows/auto-merge.yml
Due: none

chore(github): do not fail build for packtracker
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/test.yml
Due: none

chore: update to angular v14
  angular.json
  package.json
  src/scss/common.scss
  src/scss/shared.scss
  tsconfig.json
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore(package): upgrade dependencies
  cypress.config.ts
  cypress.json
  cypress/e2e/about.spec.ts
  cypress/e2e/contact.spec.ts
  cypress/e2e/home.spec.ts
  cypress/e2e/imprint.spec.ts
  cypress/e2e/privacy.spec.ts
  cypress/support/e2e.ts
  package.json
  src/typings.d.ts
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

fix: ignore lint issues for cypress plugin import
  cypress.config.ts
Due: prettier --write

chore: remove packtracker from repo
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/test.yml
  package.json
  webpack.config.ts
  yarn.lock
Due: prettier --write

chore(github): remove build command from test workflow
  .github/workflows/test.yml
Due: none

fix: ignore lint issues for cypress plugins
  cypress/plugins/index.js
Due: none

chore(github): fix environment name for wrangler action
  .github/workflows/staging.yml
Due: none

feat(terraform): implement dns management via terraform
  .gitignore
  Taskfile.yml
  terraform/.terraform-version
  terraform/.terraform.lock.hcl
  terraform/dns.tf
  terraform/main.tf
  terraform/providers.tf
  terraform/variables.tf
Due: none

chore(github): extract linting into separate workflow
  .github/workflows/linting.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  .github/workflows/test.yml
Due: none

chore(github): lint terraform code
  .github/workflows/linting.yml
Due: none

chore: format terraform config during commit
  .lintstagedrc.json
Due: prettier --write

feat(terraform): implement www redirect
  terraform/dns.tf
  terraform/main.tf
  terraform/rules.tf
Due: none
