Repository pascaliske/pascaliske.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, prettier --write, task tf:format --

.lintstagedrc:

{
  "src/**/*.{ts,scss,html,md}": [
    "prettier --config .prettierrc --write ",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "**/*.{ts,scss,html,md,json}": ["prettier --write"],
  "terraform/**/*.{tf,tfvars}": ["task tf:format --"]
}

feat(socials): add link to bluesky profile
  src/app/components/socials/socials.component.html
  src/app/components/socials/socials.component.ts
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore: downgrade eslint to v9.14.0 as a workaround for a config bug
  package.json
  yarn.lock
Due: prettier --write

feat: upgrade angular to v19
  package.json
  server.ts
  src/app/app.component.ts
  src/app/components/copy/copy.component.html
  src/app/components/copy/copy.component.ts
  src/app/components/footer/footer.component.ts
  src/app/components/greeting/greeting.component.ts
  src/app/components/headline/headline.component.html
  src/app/components/headline/headline.component.ts
  src/app/components/input/input.component.html
  src/app/components/input/input.component.ts
  src/app/components/navigation-button/navigation-button.component.html
  src/app/components/navigation-button/navigation-button.component.ts
  src/app/components/navigation/navigation.component.ts
  src/app/components/section/section.component.html
  src/app/components/section/section.component.ts
  src/app/components/socials/socials.component.html
  src/app/components/socials/socials.component.ts
  src/app/components/theme-button/theme-button.component.html
  src/app/components/theme-button/theme-button.component.ts
  src/app/pages/contact/contact.component.ts
  src/app/pages/home/home.component.ts
  src/app/pages/legal-notice/legal-notice.component.ts
  src/app/pages/skills/skills.component.ts
  src/app/pages/work/work.component.ts
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor: remove unused component imports
  src/app/components/greeting/greeting.component.ts
  src/app/components/navigation/navigation.component.ts
  src/app/pages/skills/skills.component.ts
Due: prettier --config .prettierrc --write, prettier --write

fix: use vendor neutral meta tag
  src/index.html
Due: prettier --config .prettierrc --write, prettier --write

feat: migrate to experimental zoneless change detection
  angular.json
  package.json
  src/app/app.config.ts
  src/environments/environment.ts
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

fix: update meta tag description
  src/index.html
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(workers): remove outdated permission policy value
  workers/middlewares/headers.ts
Due: prettier --write

fix(workers): use csr based index file as root path
  workers/routes/site.ts
Due: prettier --write

chore: release v3.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade angular to v19.0.3
  package.json
  yarn.lock
Due: prettier --write

chore(package): upgrade eslint stack
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.9.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore(renovate): extend shared renovate config
  renovate.json
Due: prettier --write

feat: upgrade angular to v19.0.5
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.9.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: upgrade angular to v19.1.3
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.9.4
  CHANGELOG.md
  package.json
Due: prettier --write

feat(skills): add vsphere to skill list
  src/app/pages/skills/skills.component.ts
  src/app/shared/tags/tags.ts
Due: prettier --config .prettierrc --write, prettier --write

chore(prettier): skip formatting of terraform state files
  .prettierignore
Due: none

chore(git): ignore terraform state files for debugging
  .gitignore
Due: none

chore(deps): update terraform cloudflare to v5
  .github/workflows/terraform.yml
  terraform/.terraform.lock.hcl
  terraform/account.tf
  terraform/dns.tf
  terraform/main.tf
  terraform/rules.tf
  terraform/variables.tf
  terraform/zone.tf
  terraform/zones.tf
Due: task tf:format --

feat: upgrade angular to v19.2.0
  package.json
  yarn.lock
Due: prettier --write

chore: release v3.9.5
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): update dependency tailwindcss to v4
  .postcssrc.json
  package.json
  src/app/components/card/card.component.ts
  src/app/components/footer/footer.component.html
  src/app/components/greeting/greeting.component.html
  src/app/components/headline/headline.component.html
  src/app/components/input/input.component.html
  src/app/components/navigation/navigation.component.html
  src/app/components/socials/socials.component.html
  src/app/components/theme-button/theme-button.component.html
  src/app/components/triangle/triangle.component.html
  src/app/pages/contact/contact.component.html
  src/styles/common.css
  tailwind.config.js
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write

fix(socials): break socials into multiple lines on mobile screens
  src/app/components/socials/socials.component.html
Due: prettier --config .prettierrc --write, prettier --write

chore: release v3.9.6
  CHANGELOG.md
  package.json
Due: prettier --write

chore(deps): update terraform cloudflare to v5.5.0
  terraform/.terraform.lock.hcl
  terraform/dns.tf
  terraform/main.tf
Due: task tf:format --

feat: upgrade angular to v20
  angular.json
  package.json
  src/app/app.config.server.ts
  src/app/app.config.ts
  src/app/components/copy/copy.component.html
  src/app/components/copy/copy.component.ts
  src/app/components/navigation/navigation.component.html
  src/app/components/navigation/navigation.component.ts
  src/app/components/socials/socials.component.html
  src/app/components/socials/socials.component.ts
  src/app/components/theme-button/theme-button.component.html
  src/app/components/theme-button/theme-button.component.ts
  src/app/pages/contact/contact.component.html
  src/app/pages/contact/contact.component.ts
  src/app/pages/skills/skills.component.html
  src/app/pages/skills/skills.component.ts
  src/app/pages/work/work.component.html
  src/app/pages/work/work.component.ts
  src/app/shared/browser-api/browser-api.service.ts
  tsconfig.json
  yarn.lock
Due: prettier --config .prettierrc --write, prettier --write
